body {
    background-color: #1d2d3c;
}

img {
    max-width: 100%;
}

header {
    height: 4.25rem;
    background-color: #06131f;
}

main {
    height: calc(100dvh - 4.25rem);
}

.row .card {
    background-color: #112030;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.card-clicked {
    background-color: #112030e8;
    position: absolute;
    display: none;
    top: .625rem;
    right: .625rem;
    bottom: .625rem;
    left: .625rem;
    z-index: 2;
}

.card-clicked .card {
    background-color: transparent;
    border: none;
}

.btn {
    position: absolute;
    top: 10px;
    right: 10px;
}